<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/e/e5/Boy_Scouts_of_America_corporate_trademark.svg/1200px-Boy_Scouts_of_America_corporate_trademark.svg.png" />
    <title>Troop 996</title>
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100%;
  padding: 70px 0;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 18px 20px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin:  auto;
  text-align: center;
  height: 400px;
  border-radius: 10px;
}




</style>
</head>
<body style="background-color:lightblue;">
<h1><center>Welcome to Troop 996</center></h1>
    <div class="row">
        <div class="column">
            <a href="login"style="color:black; text-decoration:none" ><div class="card">
                <img src="https://cdn.onlinewebfonts.com/svg/img_568656.png" alt="login picture" style="width:75%">
                <h1>Login</h1>
                <p> Click me to Login</p>
             </div></a>
        </div>
        <div class="column">
            <a href="register"style="color:black; text-decoration:none" ><div class="card">
                <img src="https://www.pinclipart.com/picdir/big/487-4877720_user-svg-icon-free-transparent-background-registered-user.png" alt="login picture" style="width:75%">
                <h1>Register</h1>
                <p> Click me to Register</p>
             </div></a>
        </div>
      
      </div>

</body>
</html>
